* {
    margin: 0;
    padding: 0;
    bor-sizing: content-box;
}

body {
    background-color: #000000;
}

.container-main {
    background-color: #4B5358;
    width: 560px;
    box-sizing: content-box;
    margin:  auto;
}

.container-image {
    width: 56px;

    & img {
        width: 258px;
    }
}

